:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 98 57 219;
  --oui-color-primary-light: 142 85 255;
  --oui-color-primary-darken: 68 34 187;

  --oui-color-link: 128 87 244;
  --oui-color-link-light: 175 125 255;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 255 64 122;
  --oui-color-danger-light: 255 128 183;
  --oui-color-danger-darken: 255 0 91;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 255 139;
  --oui-color-success-light: 90 255 183;
  --oui-color-success-darken: 0 220 91;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 191 0;
  --oui-color-warning-light: 255 223 90;
  --oui-color-warning-darken: 255 153 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 27 23 40;
  --oui-color-fill-active: 33 29 48;

  --oui-color-base-1: 64 56 96;
  --oui-color-base-2: 53 46 80;
  --oui-color-base-3: 43 37 64;
  --oui-color-base-4: 36 31 56;
  --oui-color-base-5: 30 26 48;
  --oui-color-base-6: 24 21 40;
  --oui-color-base-7: 75 62 119;
  --oui-color-base-8: 21 18 34;
  --oui-color-base-9: 16 14 26;
  --oui-color-base-10: 8 7 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 255 64 122;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 255 139;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 72 42 170;
  --oui-gradient-primary-end: 142 85 255;

  --oui-gradient-secondary-start: 107 62 187;
  --oui-gradient-secondary-end: 98 57 219;

  --oui-gradient-success-start: 24 170 82;
  --oui-gradient-success-end: 90 255 183;

  --oui-gradient-danger-start: 187 37 107;
  --oui-gradient-danger-end: 255 64 122;

  --oui-gradient-brand-start: 187 122 255;
  --oui-gradient-brand-end: 128 87 244;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 170 107 37;
  --oui-gradient-warning-end: 255 191 0;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}